body {
	text-align: center;
	background-image: url(../images/better-crystal.jpg);
}

img {
	margin: 30px;
}

p {
	font-size: 22.5px;
}

.instructioncontainer {
	color: black;
}


#userTotal {
	color: white;
}