body {
	text-align: center;
	background-image: url(../images/better-crystal.jpg);
}

img {
	margin: 30px;
}

p {
	font-size: 22.5px;
}

.instructioncontainer {
	color: black;
}

.red {
	color: red; 
	font-size:20px;
}

.blue {
	color:blue;
	font-size:20px;
}

.yellow {
	color: yellow;
	font-size:20px;
}

.green {
	color: green;
	font-size:20px;
}

#userTotal {
	color: white;
}